body {
    background-image: url("world_map2.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.nav-justify ul {
    
    background-color: red;
    list-style-type: none;
    padding: 10px;
    margin: 0;
}
.nav-justify ul li{
    font-family: monospace;
    display: inline-block;
    font-size: 18px;
    width:20%;
    border-color: black;
    border-right: 1px solid #bbb;
    text-decoration: none;
}