body {
    background-image: url("world_map2.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.nav-justify ul {
    
    background-color: #43f441;
    list-style-type: none;
    padding: 10px;
    margin: 0;
}
.nav-justify ul li{
    font-family: monospace;
    display: inline-block;
    font-size: 18px;
    width:20%;
    border-color: black;
    border-right: 1px solid grey;
    text-decoration: none;
}

.box {
    font-family: monospace;
    width: 1350px;
    height: 600px;
    padding: 50px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}
.contact1{
    position: absolute;
    width:1300px;
    height:1500px;
    top:300px;
    font-size: 14px;
}
.list{
    display: flex;
    flex-wrap: wrap;
}
@media all and (min-width: 60em){
    .column {width:33.33%;
    }
}